/* You can add global styles to this file, and also import other style files */
.strike{
    text-decoration:line-through;
    text-decoration-color: red;
}

.div-shadow{
    box-shadow: 10px 10px 5px grey;
}